<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MMSoft.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="MMSoft.Properties.Settings.MMSoftConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MMSoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MMSoft.Properties.Settings.MMSOFT_SQL2014" connectionString="Data Source=SVR2012\SQLEXPRESS;Initial Catalog=MMSOFT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>